@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  background: #0a0a0a;
  color: #ededed;
  min-height: 100%;
}

body {
  font-feature-settings: "ss01", "cv11";
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
